body
        {
            background: linear-gradient(to right, #8360c3, #2ebf91) fixed;
        }
        .outer
        {
            min-width: 450px;
            position: absolute;
            min-height: 70%;
            transform: translate(-60%,-50%);
            top: 50%;
            left: 50%;
            background-color:white;
            text-align: center;
        }
        #legend
        {
            
            background-image: linear-gradient(to left,#90EE90,blue);
            -webkit-background-clip: text;
            background-clip: text;
            background-clip: text;
            color: transparent;
            margin:20px;
            letter-spacing: 2px;
          font-weight: bold;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            padding: 20px;
            font-size: 25px;
        }
        input[type="text"], input[type="email"],input[type="password"],input[type="password"],input[type="number"]
        {
            padding: 10px;
           border:none;
           outline: none;
           border-bottom: 2px solid #90EE90;
           font-size: 13px;
           box-shadow: 3px;
           font-family: 'Fauna One', serif;
           width:80%;
           display: flex;
           justify-content: space-between;
           margin-left: 35px;
           align-items: center;
           font-weight: bold;
           letter-spacing:1px;
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        .check
        {
        border: 2px solid green;
        }
        input[type="submit"]
        {
            border: 2px solid green;
            width: 60%;
            font-size: 15px;
            background: linear-gradient(to right, #8360c3, #2ebf91,#1aadfa,blue) fixed;
            color: white;
            cursor: pointer;
            /* margin: 5px; */
            padding: 20px;
            letter-spacing: 4px;
            text-transform: uppercase;
        }
        span{
            color:red;   
        }
        